body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #073145;
  color: #F5F5F5;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #F5F5F5;
}
a:hover {
  cursor: pointer;
}
span {
  display: block;
  line-height: 1.5;
}
#intro {
  text-align: center;
  margin-top: 80px;
}
#intro .version {
  font-size: 14px;
}
#intro .version a {
  text-decoration: underline;
}
#intro h1 {
  font-weight: normal;
  font-size: 56px;
  margin: 0px;
}
#intro .demo {
  margin: 20px 0;
}
#advanced,
#usage,
#callback,
#intro {
  padding: 20px 0;
  border-bottom: 1px solid #2F444E;
}
#advanced .options,
#usage .options,
#callback .options {
  font-size: 14px;
  margin: 20px auto;
  text-align: left;
}
#advanced .options table,
#usage .options table,
#callback .options table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #dae064;
}
#advanced .options table tr:first-child,
#usage .options table tr:first-child,
#callback .options table tr:first-child {
  font-weight: bold;
  font-size: 1.3em;
}
#advanced .options table tr:first-child > td:first-child,
#usage .options table tr:first-child > td:first-child,
#callback .options table tr:first-child > td:first-child {
  width: 180px;
}
#advanced .options table td,
#usage .options table td,
#callback .options table td {
  padding: 10px;
  vertical-align: top;
  line-height: 1.5;
}
#advanced .note,
#usage .note,
#callback .note {
  font-size: 12px;
  font-style: italic;
}
.demo_btn {
  padding: 10px;
  margin: 0 10px;
  min-width: 100px;
  background-color: #dae064;
  border-radius: 10px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  color: #073145;
}
.demo_btn:active {
  background-color: #CCC;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.code_block {
  font-family: Consolas,monaco,monospace;
  background-color: rgba(86, 86, 86, 0.5);
  font-size: 14px;
  padding: 20px;
  border-radius: 10px;
  display: block;
  margin: 20px 0;
  text-align: left;
}
.code_block .comment {
  color: #999;
}
